email-whatsapp-sms-trigger.json
{
  "name": "Multi-Channel Message Classifier",
  "nodes": [
    {
      "parameters": {
        "pollTimes": { "item": [{ "mode": "everyMinute" }] },
        "filters": {}
      },
      "id": "0f27be8e-0347-40b7-890a-6393e0f3936f",
      "name": "Gmail Trigger",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1,
      "position": [-64, 96],
      "credentials": {
        "gmailOAuth2": {
          "id": "sLKHCZbTBpXBX7L1",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "a1", "name": "source", "value": "=gmail", "type": "string" },
            { "id": "a2", "name": "message", "value": "={{ $json.snippet || $json.textPlain || $json.textHtml }}", "type": "string" },
            { "id": "a3", "name": "sender", "value": "={{ $json.from }}", "type": "string" },
            { "id": "a4", "name": "subject", "value": "={{ $json.subject }}", "type": "string" }
          ]
        },
        "options": {}
      },
      "id": "20bb3cc7-18ab-420d-947f-708be94289cd",
      "name": "Extract Gmail Content",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [160, 96]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sms-inbound",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "638ae659-5390-4f27-bb7e-c587f141ef7d",
      "name": "SMS Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-64, 304],
      "webhookId": "7eb6fdff-8625-477a-9448-2c589b4ed933"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "b1", "name": "source", "value": "=sms", "type": "string" },
            { "id": "b2", "name": "message", "value": "={{ $json.Body }}", "type": "string" },
            { "id": "b3", "name": "sender", "value": "={{ $json.From }}", "type": "string" }
          ]
        },
        "options": {}
      },
      "id": "506ea37c-de76-42af-acda-5bf5a784a677",
      "name": "Extract SMS Content",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [160, 304]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-inbound",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "f2bf9671-bd27-4e5d-aaf0-0c3beaf3821f",
      "name": "WhatsApp Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-64, 528],
      "webhookId": "4abf94da-fed0-4452-8c24-898edcc91e16"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "c1", "name": "source", "value": "=whatsapp", "type": "string" },
            { "id": "c2", "name": "message", "value": "={{ $json.Body }}", "type": "string" },
            { "id": "c3", "name": "sender", "value": "={{ $json.From }}", "type": "string" },
            { "id": "c4", "name": "profileName", "value": "={{ $json.ProfileName }}", "type": "string" }
          ]
        },
        "options": {}
      },
      "id": "d8bd5d79-701a-4c8a-82f6-b2078eca306b",
      "name": "Extract WhatsApp Content",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [160, 528]
    },
    {
      "parameters": {
        "resume": "timeInterval",
        "amount": 1,
        "unit": "seconds"
      },
      "id": "wait-1s",
      "name": "Wait 1 Second",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [400, 304]
    },
    {
      "parameters": {
        "text": "=You are a message classifier. Analyze the following message and classify it.\n\nMessage Source: {{ $json.source }}\nMessage Content: {{ $json.message }}\n\nYou MUST respond with ONLY a valid JSON object (no markdown, no explanation) in this exact format:\n{\"query_type\": \"<one of: maintenance-repairs, faq, inspection>\", \"urgency\": \"<one of: high, medium, low>\"}\n\nClassification Rules:\n- \"maintenance-repairs\": Messages about fixing, repairing, maintaining equipment, property, vehicles, or systems. Breakdowns, leaks, malfunctions, scheduled maintenance.\n- \"faq\": General questions, information requests, policy inquiries, how-to questions, pricing questions, hours of operation.\n- \"inspection\": Requests for inspection, assessment, evaluation, audit, check-up, review of condition or compliance.\n\nUrgency Rules:\n- \"high\": Emergencies, safety issues, urgent breakdowns, time-critical deadlines, anything requiring immediate attention.\n- \"medium\": Important but not emergency, needs attention within 24-48 hours, moderate inconvenience.\n- \"low\": General inquiries, routine requests, non-urgent matters, information gathering.",
        "options": {
          "systemMessage": "You are a precise message classifier. You ONLY output valid JSON. No extra text, no markdown formatting, no explanation. Just the JSON object."
        }
      },
      "id": "fe8fa525-1f9b-4f57-b999-f20db4c46c92",
      "name": "Classify Message",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [608, 304]
    },
    {
      "parameters": {
        "model": "deepseek/deepseek-v3.2",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [608, 512],
      "id": "7ae0545f-5e77-45ce-8ec7-527aff8a3fcd",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "4D5yxKgWfHvJYRhJ",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const aiOutput = $input.first().json;\nlet parsed;\ntry {\n  const rawText = aiOutput.output || JSON.stringify(aiOutput);\n  parsed = JSON.parse(rawText);\n} catch (e) {\n  const match = (aiOutput.output || '').match(/\\{[\\s\\S]*?\\}/);\n  if (match) { parsed = JSON.parse(match[0]); }\n  else { parsed = { query_type: 'faq', urgency: 'low' }; }\n}\nconst validQueryTypes = ['maintenance-repairs', 'faq', 'inspection'];\nconst validUrgencies = ['high', 'medium', 'low'];\nconst queryType = validQueryTypes.includes(parsed.query_type) ? parsed.query_type : 'faq';\nconst urgency = validUrgencies.includes(parsed.urgency) ? parsed.urgency : 'low';\nreturn [{\n  json: {\n    query_type: queryType,\n    urgency: urgency,\n    source: $input.first().json.source || 'unknown',\n    original_message: $input.first().json.message || '',\n    classified_at: new Date().toISOString()\n  }\n}];"
      },
      "id": "1e52de0c-f7ac-401c-9161-46a65fba243f",
      "name": "Parse & Validate Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [848, 304]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true },
          "conditions": [
            {
              "id": "cond1",
              "leftValue": "={{ $json.source }}",
              "rightValue": "gmail",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-webhook",
      "name": "Is Webhook Source?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1064, 304]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=Message classified: {{ $json.query_type }} ({{ $json.urgency }} urgency)",
        "options": {}
      },
      "id": "98d21bcd-cb87-4035-b2a0-74d7aa9ddbd2",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1296, 220]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "done1",
              "name": "status",
              "value": "=classified (no webhook response needed)",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "gmail-end",
      "name": "Done (Gmail)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1296, 388]
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [[{ "node": "Extract Gmail Content", "type": "main", "index": 0 }]]
    },
    "Extract Gmail Content": {
      "main": [[{ "node": "Wait 1 Second", "type": "main", "index": 0 }]]
    },
    "SMS Webhook": {
      "main": [[{ "node": "Extract SMS Content", "type": "main", "index": 0 }]]
    },
    "Extract SMS Content": {
      "main": [[{ "node": "Wait 1 Second", "type": "main", "index": 0 }]]
    },
    "WhatsApp Webhook": {
      "main": [[{ "node": "Extract WhatsApp Content", "type": "main", "index": 0 }]]
    },
    "Extract WhatsApp Content": {
      "main": [[{ "node": "Wait 1 Second", "type": "main", "index": 0 }]]
    },
    "Wait 1 Second": {
      "main": [[{ "node": "Classify Message", "type": "main", "index": 0 }]]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [[{ "node": "Classify Message", "type": "ai_languageModel", "index": 0 }]]
    },
    "Classify Message": {
      "main": [[{ "node": "Parse & Validate Output", "type": "main", "index": 0 }]]
    },
    "Parse & Validate Output": {
      "main": [[{ "node": "Is Webhook Source?", "type": "main", "index": 0 }]]
    },
    "Is Webhook Source?": {
      "main": [
        [{ "node": "Respond to Webhook", "type": "main", "index": 0 }],
        [{ "node": "Done (Gmail)", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6beb5b53c1a146a248985a00164ad7ac86e1fddae27b4f24882dd2314f6a768f"
  },
  "tags": []
}