original-n8n-workflow.json
{
  "name": "lisa-lead-followup",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        624,
        352
      ],
      "id": "31570710-7ca7-4811-9d6e-3fdbfedee4e9",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "app6a4vGO6ufDSvyb",
          "mode": "list",
          "cachedResultName": "lisa-lead-followup-tracker",
          "cachedResultUrl": "https://airtable.com/app6a4vGO6ufDSvyb"
        },
        "table": {
          "__rl": true,
          "value": "tbllz71caaY59cZ2z",
          "mode": "list",
          "cachedResultName": "leads",
          "cachedResultUrl": "https://airtable.com/app6a4vGO6ufDSvyb/tbllz71caaY59cZ2z"
        },
        "filterByFormula": "=",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        832,
        352
      ],
      "id": "3aaa5543-aeac-40d0-ace0-3c5996931f40",
      "name": "Search records",
      "credentials": {
        "airtableTokenApi": {
          "id": "wcKMGolIxFuOHp2s",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c9629842-7448-475b-9b0c-394059bdfdfc",
              "leftValue": "={{ $json.Status }}",
              "rightValue": "Pending-1-week",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        1040,
        352
      ],
      "id": "e78bd327-eb1e-4df5-9a0f-ca15ad014a1f",
      "name": "Filter",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1296,
        352
      ],
      "id": "7a11269d-8de7-463e-a6aa-2cbc038bb639",
      "name": "Loop Over Items",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Write a few sentences explaining how Lisa's products can benefit the client. Remind them of Lisa's product offering and give them the choice to get a quote or create an account for free.",
        "messages": {
          "messageValues": [
            {
              "message": "The clients here have not replied to the introductory email; the goal is to convince them to do so."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        1536,
        368
      ],
      "id": "d6b2735f-dc16-4e69-ae66-c4ee9cec42f5",
      "name": "llm1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-20b:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1536,
        576
      ],
      "id": "e348a48e-2ea1-46f3-8ccb-52f2a7a27303",
      "name": "oss20b-1",
      "credentials": {
        "openRouterApi": {
          "id": "4D5yxKgWfHvJYRhJ",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Loop Over Items').item.json.Email }}",
        "subject": "Friendly Reminder from Lisa",
        "message": "={{ $json.text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1856,
        368
      ],
      "id": "d7f19895-3413-4e5e-9de7-991152d90b9e",
      "name": "send-message",
      "webhookId": "4a83e177-55fc-4f9d-80ac-0314dac34de8",
      "credentials": {
        "gmailOAuth2": {
          "id": "sLKHCZbTBpXBX7L1",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "amount": 7,
        "unit": "days"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1536,
        736
      ],
      "id": "a10b2529-a563-4532-8b2d-6ef36090ec9a",
      "name": "Wait 7 Days",
      "webhookId": "9c95ba38-7d2f-41dd-b492-49b993ed9ae3"
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 1,
        "filters": {
          "labelIds": [
            "INBOX"
          ],
          "q": "={{ 'from:' + $('Loop Over Items').item.json.Email }}"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1760,
        736
      ],
      "id": "f7e6fe67-9d46-4684-b2d3-fcf7158a9bb6",
      "name": "Check for Reply",
      "webhookId": "72595e30-dc01-4aed-85cc-27457da510a5",
      "credentials": {
        "gmailOAuth2": {
          "id": "sLKHCZbTBpXBX7L1",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b0a9c333-337e-48b9-bfbd-8c5484952380",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1984,
        736
      ],
      "id": "42442c96-4d78-451f-910c-1e8d7311d35f",
      "name": "Has Replied?"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "app6a4vGO6ufDSvyb",
          "mode": "list",
          "cachedResultName": "lisa-lead-followup-tracker",
          "cachedResultUrl": "https://airtable.com/app6a4vGO6ufDSvyb"
        },
        "table": {
          "__rl": true,
          "value": "tbllz71caaY59cZ2z",
          "mode": "list",
          "cachedResultName": "leads",
          "cachedResultUrl": "https://airtable.com/app6a4vGO6ufDSvyb/tbllz71caaY59cZ2z"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "Responded",
            "id": "={{ $('Loop Over Items').item.json.id }}",
            "Name": "={{ $('Loop Over Items').item.json.Name }}",
            "Address": "={{ $('Loop Over Items').item.json.Address }}",
            "Phone": "={{ $('Loop Over Items').item.json.Phone }}",
            "Email": "={{ $('Loop Over Items').item.json.Email }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Address",
              "displayName": "Address",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Contract signed",
                  "value": "Contract signed"
                },
                {
                  "name": "Contract Lost",
                  "value": "Contract Lost"
                },
                {
                  "name": "Pending-1-week",
                  "value": "Pending-1-week"
                },
                {
                  "name": "Intro-email",
                  "value": "Intro-email"
                },
                {
                  "name": "Pending-2-week",
                  "value": "Pending-2-week"
                },
                {
                  "name": "Responded",
                  "value": "Responded"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        2272,
        672
      ],
      "id": "c129d2ce-1a22-487d-8072-c7785ed28176",
      "name": "Update record in Airtable",
      "credentials": {
        "airtableTokenApi": {
          "id": "wcKMGolIxFuOHp2s",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ 'Write a compelling follow-up email to ' + $('Loop Over Items').item.json.Name + ' explaining how Lisa\\'s products have benefited other clients with real-world impact. Make it clear what they are missing out on by not responding. End with a strong call to action to reply, get a quote, or sign up for free.' }}",
        "messages": {
          "messageValues": [
            {
              "message": "This contact has not replied to the first follow-up email. Use urgency and social proof to re-engage them."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        2224,
        896
      ],
      "id": "f3088c1b-50af-48e6-88ec-f9812c011f12",
      "name": "llm2-followup",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-20b:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        2224,
        1104
      ],
      "id": "f6124db9-2db9-421d-8c83-03141bbf0ae8",
      "name": "oss20b-2",
      "credentials": {
        "openRouterApi": {
          "id": "4D5yxKgWfHvJYRhJ",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Loop Over Items').item.json.Email }}",
        "subject": "Here's what you're missing out on — Lisa's clients are seeing results",
        "message": "={{ $json.text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2528,
        896
      ],
      "id": "efb0148b-754e-48ec-a0d5-e9291856897e",
      "name": "Send Follow-Up Email",
      "webhookId": "504154d0-1ab4-4a92-9c5f-533c3a7762a1",
      "credentials": {
        "gmailOAuth2": {
          "id": "sLKHCZbTBpXBX7L1",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "app6a4vGO6ufDSvyb",
          "mode": "list",
          "cachedResultName": "lisa-lead-followup-tracker",
          "cachedResultUrl": "https://airtable.com/app6a4vGO6ufDSvyb"
        },
        "table": {
          "__rl": true,
          "value": "tblncKCJdh84pa8ig",
          "mode": "list",
          "cachedResultName": "ai-agent-actions",
          "cachedResultUrl": "https://airtable.com/app6a4vGO6ufDSvyb/tblncKCJdh84pa8ig"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ new Date(new Date().toLocaleString('en-US', { timeZone: 'America/New_York' })).toISOString() }}",
            "Tools": "marked-responded",
            "AI Message": "Contact replied. Airtable status updated to Responded.",
            "User Query": "n/a",
            "Total Tokens": 0
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Tools",
              "displayName": "Tools",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "User Query",
              "displayName": "User Query",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "AI Message",
              "displayName": "AI Message",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Total Tokens",
              "displayName": "Total Tokens",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        2544,
        672
      ],
      "id": "8abaa527-b308-4423-9497-18d5b22f5743",
      "name": "Log: Responded",
      "credentials": {
        "airtableTokenApi": {
          "id": "wcKMGolIxFuOHp2s",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "app6a4vGO6ufDSvyb",
          "mode": "list",
          "cachedResultName": "lisa-lead-followup-tracker",
          "cachedResultUrl": "https://airtable.com/app6a4vGO6ufDSvyb"
        },
        "table": {
          "__rl": true,
          "value": "tblncKCJdh84pa8ig",
          "mode": "list",
          "cachedResultName": "ai-agent-actions",
          "cachedResultUrl": "https://airtable.com/app6a4vGO6ufDSvyb/tblncKCJdh84pa8ig"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ new Date(new Date().toLocaleString('en-US', { timeZone: 'America/New_York' })).toISOString() }}",
            "Tools": "sent-followup-week-2",
            "AI Message": "={{ $('llm2-followup').item.json.text }}",
            "User Query": "n/a",
            "Total Tokens": "={{ $('llm2-followup').item.json.text.length }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Tools",
              "displayName": "Tools",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "User Query",
              "displayName": "User Query",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "AI Message",
              "displayName": "AI Message",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Total Tokens",
              "displayName": "Total Tokens",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        2752,
        896
      ],
      "id": "3acc1224-2d1d-4ce4-9c8b-194f7ed32831",
      "name": "Log: Follow-Up Sent",
      "credentials": {
        "airtableTokenApi": {
          "id": "wcKMGolIxFuOHp2s",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "app6a4vGO6ufDSvyb",
          "mode": "list",
          "cachedResultName": "lisa-lead-followup-tracker",
          "cachedResultUrl": "https://airtable.com/app6a4vGO6ufDSvyb"
        },
        "table": {
          "__rl": true,
          "value": "tblncKCJdh84pa8ig",
          "mode": "list",
          "cachedResultName": "ai-agent-actions",
          "cachedResultUrl": "https://airtable.com/app6a4vGO6ufDSvyb/tblncKCJdh84pa8ig"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ new Date(new Date().toLocaleString('en-US', { timeZone: 'America/New_York' })).toISOString() }}",
            "Tools": "sent-reminder-week-1",
            "AI Message": "={{ $('llm1').item.json.text }}",
            "User Query": "n/a",
            "id": "={{ $('Search records').item.json.id }}",
            "Total Tokens": "={{ $('llm1').item.json.text.length }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Tools",
              "displayName": "Tools",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "User Query",
              "displayName": "User Query",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "AI Message",
              "displayName": "AI Message",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Total Tokens",
              "displayName": "Total Tokens",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        2160,
        368
      ],
      "id": "54e6805b-5d3f-4b51-ad80-fbcb64cace3d",
      "name": "Update record",
      "credentials": {
        "airtableTokenApi": {
          "id": "wcKMGolIxFuOHp2s",
          "name": "Airtable Personal Access Token account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Search records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search records": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Wait 7 Days",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "llm1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "llm1": {
      "main": [
        [
          {
            "node": "send-message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "oss20b-1": {
      "ai_languageModel": [
        [
          {
            "node": "llm1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "send-message": {
      "main": [
        [
          {
            "node": "Update record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update record": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 7 Days": {
      "main": [
        [
          {
            "node": "Check for Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for Reply": {
      "main": [
        [
          {
            "node": "Has Replied?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Replied?": {
      "main": [
        [
          {
            "node": "Update record in Airtable",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "llm2-followup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update record in Airtable": {
      "main": [
        [
          {
            "node": "Log: Responded",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log: Responded": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "llm2-followup": {
      "main": [
        [
          {
            "node": "Send Follow-Up Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "oss20b-2": {
      "ai_languageModel": [
        [
          {
            "node": "llm2-followup",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Send Follow-Up Email": {
      "main": [
        [
          {
            "node": "Log: Follow-Up Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log: Follow-Up Sent": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "ad2b6194-ebdc-428e-bb84-6a99d8453252",
  "meta": {
    "instanceId": "6beb5b53c1a146a248985a00164ad7ac86e1fddae27b4f24882dd2314f6a768f"
  },
  "id": "N-kFOHHFdCuanNFjXN2tK",
  "tags": []
}